<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>home</title>
</head>
<body>
        <button class="btn btn-lg btn-primary" type="button" onclick="signIn()"> Login </button>
        <button class="btn btn-lg btn-danger" type="button" onclick="toRegister()">Register</button>
    <h1>welcome!</h1>

</body>

<script>
    function toRegister(){
        window.location.href = "register"
    }
    function signIn() {
        window.location.href = "login"
    }
</script>
</html>